@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CSForum.Core.Models
@using CSForum.Shared.Models.ViewModels
@model CSForum.Shared.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "title";
    string? menuOption = null;
    try
    {
        menuOption = ViewContext.RouteData.Values["additionalInfo"].ToString();
    }
    catch
    {
    }
    Layout = "_Layout";
}

<div class="user-block">
    <div class="user-bio">
    </div>
</div>
<section style="background-color: #eee;">

    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">@Model.UserName</h5>
                    @* <p class="text-muted mb-1">Full Stack Developer</p> *@
                    <div class="d-flex justify-content-center mb-2">
                        @* <button type="button"  class="btn btn-primary" >Follow</button> *@
                        <button type="button" id="buttonMessage" class="btn btn-outline-primary ms-1">Message</button>
                    </div>
                </div>
            </div>
            @* <div class="card mb-4 mb-lg-0"> *@
            @*     <div class="card-body p-0"> *@
            @* *@
            @*         <ul class="list-group list-group-flush rounded-3"> *@
            @*             <li class="list-group-item text-center d-flex justify-content-between align-items-center p-3"> *@
            @*                 <b class="text-center">Contacts</b> *@
            @*             </li> *@
            @*             <li class="list-group-item d-flex justify-content-between align-items-center p-3"> *@
            @*                 <i class="fas fa-globe fa-lg text-warning"></i> *@
            @*                 <p class="mb-0">Facebook example</p> *@
            @*             </li> *@
            @*             <li class="list-group-item d-flex justify-content-between align-items-center p-3"> *@
            @*                 <i class="fab fa-github fa-lg" style="color: #333333;"></i> *@
            @*                 <p class="mb-0">Google example</p> *@
            @*             </li> *@
            @*         </ul> *@
            @*     </div> *@
            @* </div> *@
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="nav-user">
                    <div>
                        <a asp-controller="User" asp-action="GetUserById" asp-route-id="@Model.Id" asp-route-additionalInfo="">Info</a>
                    </div>
                    <div>
                        <a asp-controller="User" asp-action="GetUserById" asp-route-id="@Model.Id" asp-route-additionalInfo="@nameof(CSForum.Core.Models.User.Posts)">Post</a>
                    </div>
                    <div>
                        <a asp-controller="User" asp-action="GetUserById" asp-route-id="@Model.Id" asp-route-additionalInfo="@nameof(CSForum.Core.Models.User.Answers)">Answers</a>
                    </div>
                </div>
                @switch (menuOption)
                {
                    case null:
                    {
                        @await Html.PartialAsync("_InfoPartialView", @Model)
                        break;
                    }
                    case nameof(CSForum.Core.Models.User.Posts):
                    {
                        @await Html.PartialAsync("_PostsPartialView", @Model.Posts)
                        break;
                    }
                    case nameof(CSForum.Core.Models.User.Answers):
                    {
                        @await Html.PartialAsync("_AnswersPartialView", @Model.Answers)
                        break;
                    }
                }
            </div>
        </div>
    </div>
</section>
<div id="messageChat" class="form-chat" style="display: none">
    @await Html.PartialAsync("~/Views/Chat/CreateChat.cshtml", @Model);
</div>

<script>
let button = document.querySelector("#buttonMessage");
let buttonClose = document.querySelector("#closeButton");
let block = document.querySelector("#messageChat");
button.addEventListener("click", ()=>{
    block.style.display =  block.style.display==="none"?"block":"none";
});
 buttonClose.addEventListener("click", ()=>{
    block.style.display =  block.style.display==="none"?"block":"none";
 });
</script>