@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Manage.Internal
@model UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var menuOption = Model.MenuOption;
}

<div class="user-block">
    <div class="user-bio">
    </div>
</div>
<section style="background-color: #eee;">

    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">@Model.UserName</h5>
                    <p class="text-muted mb-1">Full Stack Developer</p>
                    <div class="d-flex justify-content-center mb-2">
                        <button type="button" class="btn btn-primary">Follow</button>
                        <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                    </div>
                </div>
            </div>
            <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">

                    <ul class="list-group list-group-flush rounded-3">
                        <li class="list-group-item text-center d-flex justify-content-between align-items-center p-3">
                            <b class="text-center">Contacts</b>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fas fa-globe fa-lg text-warning"></i>
                            <p class="mb-0">Facebook example</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                            <p class="mb-0">Google example</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="nav-user">
                    <div>
                        <a asp-controller="User" asp-action="GetUserById" asp-route-id="@Model.Id">Info</a>
                    </div>
                    <div>
                        <a asp-controller="User" asp-action="GetUserPost" asp-route-id="@Model.Id">Post</a>
                    </div>
                    <div>
                        <a asp-controller="User" asp-action="GetUserAnswers" asp-route-id="@Model.Id">Answers</a>
                    </div>

                </div>
                @switch (menuOption)
                {
                    case 0:
                    default:
                        {
                            @Html.PartialAsync("_InfoPartialView", @Model)
                            break;
                        }
                    case 1:
                        {
                            @Html.PartialAsync("_PostsPartialView", @Model.Posts)
                            break;
                        }
                    case 2:
                        {
                            @Html.PartialAsync("_AnswersPartialView", @Model.Answers)
                            break;
                        }
                }
            </div>
        </div>
    </div>
</section>