@model CSForum.Core.Models.Tag

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>@Model.Name</h1>
@if (@Model.Posts != null)
{
    <div>
    @foreach (var post in @Model.Posts)
    {
        <div>@post.Title</div>
        <div>@post.Content</div>
    }
    </div>
}