@model PostViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Title</h2>

<div>
    @Html.Raw(@Model.Content);
</div>
<div class="line-yellow"></div>
<div>
    @if (@Model.Answers != null)
    {
        @foreach (var answers in @Model.Answers)
        {
            <div>
                <p>@answers.AnswerCreator.UserName</p>
                <p>@Html.Raw(@answers.ContentBody)</p>
            </div>
        }
    }
</div>
<p onclick="showAnswerForm()" class="btn-dark">Give Answer</p>
@await Html.PartialAsync("AnswerFormPartialView", new CreateAnswerViewModel
       {
           PostId = @Model.Id
       });
<script>
 let answerForm = document.querySelector("#answerForm");
function showAnswerForm(){
   answerForm.style.display=="none"?
    answerForm.style.display="block":
     answerForm.style.display="none";
}
 </script>