@model PostViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/skeditorscript/ckeditor4/plugins/codesnippet/">
<h2>@Model.Title</h2>
<div>
    @Html.Raw(@Model.Content);
</div>
<div>
    @if (@Model.Answers != null)
    {
        @foreach (var answers in @Model.Answers)
        {
            <div>
                <p>@answers.AnswerCreator.UserName</p>
                <p>@answers.Content</p>
            </div>
        }
    }
</div>
<p onclick="showAnswerForm()">Give Answer</p>
@await Html.PartialAsync("AnswerFormPartialView", new CreateAnswerViewModel
       {
           PostId = @Model.Id
       });


<script>
 let answerForm = document.querySelector("#answerForm");
function showAnswerForm(){
   answerForm.style.display=="none"?
    answerForm.style.display="block":
     answerForm.style.display="none";
}

 </script>