@model CSForum.IdentityServer.Models.LoginViewModel

@* <div class="login-form"> *@
@*     <form > *@
@*         <div class="fieldset"> *@
@*             <div class="" for="Username">Username </div> *@
@*             <label class="image-replace email" for="Username">Username </label> *@
@*             <input class="full-width has-padding has-border" name="Username" type="text" placeholder="Username"> *@
@*         </div> *@
@* *@
@*         <div class="fieldset"> *@
@*             <div class="" for="Password">Password</div> *@
@*             <label class="image-replace password" for="Password">Password</label> *@
@*             <input class="full-width has-padding has-border" name="Password" type="password" placeholder="Password"> *@
@*             <a href="#0" class="hide-password">Show</a> *@
@*         </div> *@
@*         <p class="fieldset"> *@
@*             <input class="full-width" type="submit" value="Login"> *@
@*         </p> *@
@* *@
@*     </form> *@
@* *@
@* </div> *@
<div class="login_form">
    <section class="login-wrapper">
        <form id="login" class="form" asp-controller="AuthCS" asp-action="Login" method="post">
            <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@Model.ReturnUrl"/>

            <label>User Name</label>
            <input name="Username" id="Username" type="text" placeholder="Username" required/>

            <label for="Password">Password</label>
            <input name="Password" id="Password" placeholder="Password" type="password" class="password"/>
            <div class="hide-show">
                <span>Show</span>
            </div>
            <div class="list-login">
                <button type="submit">Sign In</button>
                <button class="fieldset">
                    <a class="full-width" asp-action="Register" asp-route-ReturnUrl="@Model.ReturnUrl">Register</a>
                </button>
            </div>
        </form>

        <form asp-controller="AuthCS" asp-action="ExternalProvider" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="social">
                @foreach (var extProv in @Model.ExternalProviders)
                {
                    <button type="submit" name="provider" value="@extProv.Name" class="go">
                        @extProv.Name
                    </button>
                }
            </div>
        </form>
    </section>
</div>